@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  max-height: 100%;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.container-fluid {
  max-width: 90%;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #93dcff;
}

.text-primary-blue {
  color: #1565c0;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #93dcff;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93dcff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #6cd4ff;
  cursor: pointer;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1.5rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}

.m-bottom-1 {
  margin-bottom: 1rem;
}

.m-top-1 {
  margin-top: 1rem;
}


.image-logo {
  width: 2rem;
  height: 2rem;
}

.user-avatar {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
}

.unread-inbox {
  font: bold 0.95rem/1 sans-serif;
}

.inbox-alert {
  padding: 0.1rem 0.1rem;
  background: #ddd;
  color: red;
  font-weight: bold;
  border-radius: 50%;
}

.draft-alert {
  color: red;
}

.line-height {
  line-height: 2;
}

.email-labels {
  background: #ddd;
  padding: 0.5rem;
  border-radius: 2rem;
}

.group-widget {
  background: #ddd;
  padding: 0.2rem 0.05rem;
}

.group-members-widget ul {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  background: #ddd;
  padding: 0.2rem 0.05rem;
}

.text-area-group {
  display: flex;
  max-width: 10rem;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar span {
  color: #93dcff;
}

#navbar a {
  color: #fff;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #6cd4ff;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url("../images/email-showcase.png") no-repeat right
    center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Section: How it works */
#how .items {
  display: flex;
  padding: 1rem;
}

#how .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#how .items .item i {
  background: #93dcff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Footer: homepage */
#homepage-showcase #main-footer {
  position: relative;
  bottom: 0;
}

/* Body: forms showcase */
#form-showcase {
  background: url("../images/email-showcase.png") no-repeat right center/cover;
  height: 100vh;
  overflow: hidden;
}

/* Section: Login */
#login {
  margin: 10rem auto;
  max-width: 30rem;
  padding: 1.25rem;
}

#login h1 a,
#sign-up h1 a {
  color: #fff;
}

#login .form-wrap {
  background: #fff;
  padding: 0.7rem 1.563rem;
  color: #333;
}

#login .form-wrap .form-group {
  margin-top: 1rem;
}

#login .form-wrap .form-group label {
  display: block;
  color: #666;
}

#login .form-wrap .form-group input {
  width: 100%;
  padding: 0.625rem;
  border: #ddd 1px solid;
  border-radius: 0.3125rem;
}

#login .form-wrap .form-group input:focus {
  border: 2px solid #6cd4ff;
}

#login .form-wrap button,
#sign-up .form-wrap button {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.625rem;
}

/* Section: Sign Up */
#sign-up {
  margin: 9rem auto;
  max-width: 40rem;
  padding: 1rem;
}

.sign-up-item {
  display: flex;
  justify-content: space-between;
}

.sign-up-item .div-item {
  flex: 1;
}

#sign-up .form-wrap {
  background: #fff;
  padding: 2rem 1rem;
  color: #333;
}

#sign-up .form-wrap .form-group {
  margin-top: 0.98rem;
}

#sign-up .form-wrap .form-group input {
  width: 95%;
  padding: 0.625rem;
  border: #ddd 1px solid;
  border-radius: 0.3125rem;
}

/* User: Mailbox Styling */
#navbar-user {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar-user span {
  color: #93dcff;
}

#navbar-user a {
  color: #fff;
}

#navbar-user ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar-user ul li sup {
  margin: 0 -0.3rem;
}

#navbar-user ul li a,
#navbar-user ul li {
  color: #fff;
  margin: 0 0.3rem;
}

.mailbox {
  display: flex;
  max-height: 52rem;
  justify-content: space-between;
  overflow-y: scroll;
}

.box {
  flex: 2;
}

.box aside {
  margin-top: 2rem;
}

.box .aside ul {
  list-style: none;
  margin: 0 1rem;
}

.box .aside ul li {
  margin: 1.75rem 0;
}

.aside ul li a {
  color: #333;
}

.aside ul li a > span {
  font-size: 0.9rem;
  display: none;
}

/* .aside ul li span {
  display: inline;
  border: 1px solid black;
} */

.aside ul li a p {
  display: flex;
  max-width: 10rem;
  justify-content: space-between;
}

.aside ul li a p > span {
  font-size: 0.7rem;
  border: 1px solid #ddd;
  background: #ddd;
  color: red;
  padding: 0.25rem;
  border-radius: 50%;
}

.aside ul li a p:hover {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.box:first-child {
  flex: 1;
}

.box:last-child {
  flex: 10;
  background: #fff;
  border-left: 1px solid #fff;
  margin: 2rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.inbox {
  display: flex;
  flex-direction: column;
}

.box #view-message,
.box #view-message h3 {
  font-size: 0.9rem;
}

.box #view-message {
  padding-left:2.5rem;
}

/* Table Styling */
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.table #table-header {
  background: #f4f4f4;
}

.table tr {
  cursor: pointer;
}

.table tr:hover {
  background: #ddd;
}

.table td {
  padding: 5px;
}

/* Div: Compose message */
#compose-box, 
#compose-draft {
  margin-right: 10%;
}

#compose-box .form-wrap #compose-btn,
#compose-draft .form-wrap #compose-btn {
  display: flex;
  justify-content: center;
}

#compose-box .form-wrap #compose-btn button,
#compose-draft .form-wrap #compose-btn button {
  max-width: 20%;
  margin: 0.5rem 0.2rem;
}

#compose-box .form-wrap .form-group label[for="message-body"],
#compose-box .form-wrap .form-group label[for="recipient"],
#compose-draft .form-wrap .form-group label[for="message-body"],
#compose-draft .form-wrap .form-group label[for="recipient"] {
  display: none;
}

#compose-box .form-wrap textarea,
#compose-draft .form-wrap textarea {
  outline: none;
}

#compose-box .form-wrap .form-group input,
#compose-draft .form-wrap .form-group input {
  padding: 1rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
}

.text-area {
  display: flex;
  max-width: 100%;
}

textarea {
  width: 90%;
  margin: 0 auto;
  height: 20rem;
  border: none;
  font-family: "Roboto", sans-serif;
}

/* DIV: Message Thread */
#view-message > div > a {
  color: #333;
}

/* Div: Create group */
.create-grp {
  height: 45rem;
  overflow-y: hidden;
}

.create-grp .form-div {
  max-width: 50rem;
  margin: 0 auto;
}

.form-div .form-group > input[type="text"],
.form-div .form-group select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.65rem 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1rem;
  border: 0.09rem solid #333;
  outline: none;
}

.form-div .form-group > input[type="text"]:focus,
.form-div .form-group select:focus {
  border: 0.01rem solid #6cd4ff;
}

.create-grp .group-list {
  display: flex;
  max-width: 43rem;
  margin: 2.5rem auto;
}

.create-grp .group-list ul {
  list-style: none;
}

.create-grp .group-list ul li {
  line-height: 1.6rem;
  margin-left: 0.5rem;
}

.create-grp .group-list ul li a {
  color: #333;
}

.create-grp .group-list .list:first-child {
  flex: 5;
  border-right: 2px solid #333;
}

.create-grp .group-list .list:last-child {
  flex: 7;
}

/* Footer: Remains at the bottom */
#main-footer {
  position: fixed;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
}
