@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  max-height: 100%;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align:center;
}

.text-primary {
  color: #93DCFF;
}

.text-primary-blue {
  color: #1565c0;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #93DCFF;;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background: #93DCFF;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #6CD4FF;
  cursor: pointer;
}

.btn-dark {
  background: #333;
  color: #fff;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.image-logo {
  width: 2.5rem;
  height: 2.5rem;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar span {
  color: #93DCFF;
}

#navbar a {
  color: #fff;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #6CD4FF;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: #333 url('../images/email-showcase.png') no-repeat right center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

/* Section: How it works */
#how .items {
  display: flex;
  padding: 1rem;
}

#how .items .item {
  flex: 1;
  text-align: center;
  padding: 1rem;
}

#how .items .item i {
  background: #93DCFF;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Section: Login */
#login-showcase {
  background: url('../images/email-showcase.png') no-repeat right
  center/cover;
  height: 100vh;
}

#login {
  margin: 10rem auto;
  max-width: 30rem;
  padding: 1.25rem; 
}

#logo-div #logo-image {
  text-align: center;
}

#login #logo-div {
  display: block;
  margin: 0 auto;
}

#login h1 a {
  color: #fff;
}

#login h1 {
  text-align: center;
  margin-bottom: 1rem;
}

#login footer {
  text-align: center;
}

#login .form-wrap {
  background: #fff;
  padding: 0.94rem 1.563rem;
  color: #333;
}

#login .form-wrap h1 {
  text-align: center;
}

#login .form-wrap .form-group {
  margin-top: 0.94rem;
}

.form-wrap .form-group label {
  display: block;
  color: #666;
}

.form-wrap .form-group input {
  width: 100%;
  padding: 0.625rem;
  border: #ddd 1px solid;
  border-radius: 0.3125rem;
}

.form-wrap .form-group input:focus {
  border: 2px solid #6CD4FF;
}

.form-wrap button {
  margin-top: 1.25rem;
  width: 100%;
  padding: 0.625rem;
}

.form-wrap .bottom-text {
  font-size: 0.8125rem;
  margin-top: 1.25rem;
}