/* Align icon to left */
#how .items .item {
  display: flex;
  text-align: left;
}

/* Position icon */
#how .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}